body
{
    direction: rtl;
    text-align: center;
    color:white;
}
p
{
    font-family:Choco;
    font-size:larger;
}
h1
{
    font-size:xx-large;
}
a:before
{
    color:white;
}
a:link
{
    color:white;
}
a:after
{
    color:white;
}
a:hover
{
    color:white;
}
